.card {
  padding: 15px;
  margin-bottom: 25px;
}

.card-sm {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.card-md {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.card-lg {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}
