.overview-col {
  &:first-child {
    .overview-item {
      background: linear-gradient(135deg,rgba(66, 103, 178, 1) 0,rgba(41, 72, 125, 1) 100%);
      border: 1px solid rgba(41, 72, 125, 1);
    }
  }
  &:nth-child(2) {
    .overview-item {
      background: linear-gradient(135deg,rgba(29, 161, 242, 1) 0,rgba(0, 109, 191, 1) 100%);
      border: 1px solid rgba(0, 109, 191, 1);
    }
  }
  &:nth-child(3) {
    .overview-item {
      background: linear-gradient(135deg,rgba(233, 89, 80, 1) 0,rgba(205, 72, 107, 1) 100%);
      border: 1px solid rgba(205, 72, 107, 1);
    }
  }
  &:last-child {
    .overview-item {
      background: linear-gradient(135deg,rgba(223, 75, 55, 1) 0,rgba(219, 50, 54, 1) 100%);
      border: 1px solid rgba(219, 50, 54, 1);
    }
  }
}
.overview-item {
  position: relative;
  color: map-get($color, white);
  overflow: hidden;
  border-radius: 2px;
  .overview-data-title {
    font-size: 15px;
    margin-bottom: 2px;
    opacity: 0.7;
  }
  .overview-data-number {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  .overview-data-progress-bar {
    position: relative;
    margin-bottom: 12px;
    height: 2px;
    background: rgba(0,0,0,.5);
    border-radius: 3px;
    overflow: hidden;
    font-size: .75rem;
    .overview-progress {
      @include transition(0.5s);
      display: inline-block;
      position: absolute;
      background: map-get($color, white);
      height: 100%;
    }
  }
  .overview-data-desc {
    font-size: 12px;
    opacity: 0.7;
  }
  .overview-icon {
    position: absolute;
    right: 0;
    top: 15px;
    text-shadow: 3px 7px rgba(0,0,0,.25);
    font-size: 128px;
    opacity: 0.2;
  }
}

.notification-panel {
  padding: 0;
  border-radius: 5px;
  background-color: map-get($color, white);
  .panel-head {
    padding: 15px;
    font-weight: 600;
  }
  .panel-body {
    padding: 0 15px 15px;
    .noti-list {
      border: 1px solid map-get($color, line);
      border-radius: 5px;
    }
    .noti-item {
      display: block;
      border-bottom: 1px solid map-get($color, line);
      &:last-child {
        border: none;
      }
      .noti-item-detail {
        @include flexbox();
        @include justify-content(space-between);
        @include transition(0.3s);
        text-decoration: none;
        color: map-get($color, black);
        padding: 10px 15px;
        font-size: 13px;
        &:hover {
          @include transition(0.2s);
          background-color: rgba(0, 0, 0, .1);
        }
      }
      .noti-type {
        text-transform: capitalize;
      }
      .noti-icon {
        display: inline-block;
        width: 20px;
      }
      .noti-time {
        font-style: italic;
      }
    }
  }
}
