<aside class="sidebar">
  <div class="head-sidebar">
    <img src="../../../../assets/images/admin-logo.png" alt="logo">
    <h1><b>admin</b>master</h1>
  </div>
  <ul class="sidebar-menu">
    <h3 class="group-menu-title">General</h3>
    <li>
      <a>
        <fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="sidebar-dropdown-btn">
      <a >
        <fa-icon [icon]="['fas', 'chart-pie']"></fa-icon>
        <span>Chart</span>
        <fa-icon class="arrow-icon" [icon]="['fas', 'angle-right']"></fa-icon>
      </a>
    </li>
    <li class="sidebar-dropdown-btn">
      <a>
        <fa-icon [icon]="['fas', 'table']"></fa-icon>
        <span>Table</span>
      </a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="['fas', 'edit']"></fa-icon>
        <span>Form</span>
      </a>
    </li>
    <h3 class="group-menu-title">Live On</h3>
    <li>
      <a>
        <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
        <span>UI Element</span>
      </a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="['fas', 'folder']"></fa-icon>
        <span>Sample Pages</span>
      </a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
        <span>Profile</span>
      </a>
    </li>
    <h3 class="group-menu-title">About</h3>
    <li>
      <a>
        <fa-icon [icon]="['fas', 'book']"></fa-icon>
        <span>Documentation</span>
      </a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="['fab', 'wikipedia-w']"></fa-icon>
        <span>Wiki</span>
      </a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
        <span>About Us</span>
      </a>
    </li>
  </ul>
</aside>
