<div class="row" *ngIf="overview">
  <div class="col-lg-3 col-md-3 col-sm-6 col-6 overview-col" *ngFor="let item of overview">
    <div class="card card-sm overview-item">
      <div class="overview-data">
        <p class="overview-data-title">{{item.name}}</p>
        <p class="overview-data-number">{{item.number}}</p>
        <div class="overview-data-progress-bar">
          <div class="overview-progress" [style.width.%]="item.percent"></div>
        </div>
        <p class="overview-data-desc">Better than last week ({{item.percent}})</p>
      </div>
      <div class="overview-icon">
        <fa-icon [icon]="['fab', item.icon]"></fa-icon>
      </div>
    </div>
  </div>
</div>
