<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-6">
    <div class="card card-sm overview-item">
      <div class="overview-data">
        <p class="overview-data-title">Facebook</p>
        <p class="overview-data-number">7,842,900</p>
        <div class="overview-data-progress-bar">
          <div class="overview-progress"></div>
        </div>
        <p class="overview-data-desc">Better than last week (70.1%)</p>
      </div>
      <div class="overview-icon">
        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
      </div>
    </div>
  </div>
</div>
