$default-font: 'Rubik', sans-serif;
$primary-font: 'Open Sans', sans-serif;

$color: (
  default: #243A51,
  primary: #2A3F54,
  secondary: #5A738E,
  danger: #FF4444,
  danger-dark: #CC0000,
  warning: #FFBB33,
  warning-dark: #FF8800,
  success: #00C851,
  success-dark: #007E33,
  info: #33B5E5,
  info-dark: #0099CC,
  dark: #343a40,
  light: #F8F9FA,
  gray: #6C757D,
  gray-light: #F7F7F7,
  gray-line: #D9DEE4,
  white: #FFFFFF,
  black: #000000,
  yellow: #FFEB3B,
  orange: #FF9800,
  green: #4CAF50,
  blue: #03A9F4,
  red: #D50000,
  red-dark: #B71C1C
)
